body {
  background-image: url("images/cyberpunkwallpaper.png");
  background-size: auto;
  color: white;
}

img {
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #36b447;
  border-image-width: 4px;
}

.Meiko {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}

.Copic {
  height: 500px;
  width: 612px;
}

p {
  margin-top: 100px;
  font-size: large;
  font-family: cursive;
}


h2{
  text-align: center;
  font-family: cursive;
}

h3{
  margin: 100px;
  font-family: cursive;
}

h1{
  text-align: center;
  font-family: cursive;
}